/* Archivo: PokeViewer.css */

.poke-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.image-container {
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 8%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  width: -webkit-fill-available;
  object-fit: cover;
}

button {
  display: inline-block;
  margin-top: 12px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #d9ffff;
  color: #051a0b;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, transform 0.2s;
}


button:hover {
  background-color: #8acfcf;
  transform: translateY(-2px);
}

button:active {
  background-color: #4d9192;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transform: translateY(1px);
}